version: "3"
services:
    dimka-binance:
        container_name: dimka-binance
        build: ./
        image: dimka-binance-bot:latest
        environment:
            - PYTHONPATH=/var/www
        expose:
            - "3000"
        volumes:
            - ./:/var/www
        tty: true
        hostname: dimka-binance
